body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://res.cloudinary.com/dmhlzrw28/image/upload/v1698739635/MushroomHunting/foraging-basket-800_zjlgxl.jpg');
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

