nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('https://res.cloudinary.com/dmhlzrw28/image/upload/v1698739635/MushroomHunting/foraging-basket-800_zjlgxl.jpg');
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.nav-link {
    font-weight: 500;
    margin-left: 1rem;
    border-bottom: 0.15rem solid transparent; 
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

